<section class="wrapper" id="who-are">
    <h2 class="title-tab">QUIÉNES SOMOS</h2>
    <article class="name">
      <div class="picture">
        <img src="./assets/images/prueba_foto.jpg" alt="foto" class="foto" />
      </div>
      <div class="description">
        <h4>Junyi Ji</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          rutrum ullamcorper mauris, vel convallis metus eleifend in. Cras
          hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat
          convallis. Morbi interdum neque et aliquam varius.
        </p>
        <div class="icons">
          <ul class="list-icons">
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-github-alt"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="name-left">
      <div class="picture">
        <img src="./assets/images/prueba_foto.jpg" alt="foto" class="foto" />
      </div>
      <div class="description">
        <h4>Laura Moreaux</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          aut, deserunt nulla architecto repellendus quod voluptatem
          corporis eum quidem ipsum optio corrupti ipsa? Corporis
          reprehenderit quis, facilis officia placeat eos!
        </p>
        <div class="icons">
          <ul class="list-icons">
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-github-alt"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="name">
      <div class="picture">
        <img src="./assets/images/prueba_foto.jpg" alt="foto" class="foto" />
      </div>
      <div class="description">
        <h4>Marisol Peña</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          aut, deserunt nulla architecto repellendus quod voluptatem
          corporis eum quidem ipsum optio corrupti ipsa? Corporis
          reprehenderit quis, facilis officia placeat eos!
        </p>
        <div class="icons">
          <ul class="list-icons">
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-github-alt"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="name-left">
      <div class="picture">
        <img src="./assets/images/marta.jpg" alt="foto" class="foto" />
      </div>
      <div class="description">
        <h4>Marta García</h4>
        <p>
          Soy una madrileña a la que le encanta habitar por todo lo audiovisual. Empece por la fotografía , pasando por cine , postproducción de video y recientemente vivo en el mundo del diseño y programación de productos digitales.
Me alimento de chocolate negro y brócoli.
        </p>
        <div class="icons">
          <ul class="list-icons">
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-github-alt"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="name">
      <div class="picture">
        <img src="./assets/images/prueba_foto.jpg" alt="foto" class="foto" />
      </div>
      <div class="description">
        <h4>Miriam Grossi</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          aut, deserunt nulla architecto repellendus quod voluptatem
          corporis eum quidem ipsum optio corrupti ipsa? Corporis
          reprehenderit quis, facilis officia placeat eos!
        </p>
        <div class="icons">
          <ul class="list-icons">
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-github-alt"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </section>