<section class="wrapper" id="who-are">
  <h2 class="title-tab">QUIÉNES SOMOS</h2>
  <article class="name">
    <div class="picture">
      <img src="./assets/images/prueba_foto.jpg" alt="foto" class="foto" />
    </div>
    <div class="description">
      <h4>Junyi Ji</h4>
      <p>
        Durante los últimos años me he dedicado a la enseñanza de chino, al
        training y asesoramiento en un call center. El resto del tiempo lo he
        pasado como exploradora de lugares recónditos y estratega de juegos de
        mesa. Continúo el camino improvisando acordes en ukelele, aprendiendo
        kanjis en japonés y, muy pronto, programando.
      </p>
      <div class="icons">
        <ul class="list-icons">
          <li>
            <a href="https://twitter.com/junneptune" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/junyi-ji-60895a184/"
              target="_blank"
            >
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/iunyi" target="_blank">
              <i class="fab fa-github-alt"></i>
            </a>
          </li>
          <li>
            <a href="mailto:junyiji@gmail.com" target="_blank"
              ><i class="fa fa-envelope"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </article>
  <article class="name-left">
    <div class="picture">
      <img src="./assets/images/prueba_foto.jpg" alt="foto" class="foto" />
    </div>
    <div class="description">
      <h4>Laura Moreaux</h4>
      <p>
        ¡Hola! Tras 5 años dedicados al Retail y 5 años al Turismo, con gran
        entusiasmo me inicio en el mundo de la Programación Web. Tras el
        Bootcamp de Adalab y en solo 3 meses, conseguí conocimientos técnicos en
        HTML, CSS, JavaScript y React, y reforzé habilidades como la
        adaptabilidad o el trabajo en equipo. Mis aficiones son viajar,
        disfrutar de la naturaleza y rodearme de buena compañía.
      </p>
      <div class="icons">
        <ul class="list-icons">
          <li>
            <a href="https://twitter.com/Lau_Moreaux" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a
              href="https://es.linkedin.com/in/laura-moreaux-cueto-1351477b"
              target="_blank"
            >
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/LauraMoreaux" target="_blank">
              <i class="fab fa-github-alt"></i>
            </a>
          </li>
          <li>
            <a href="mailto:lauramoreauxcueto@gmail.com" target="_blank">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </article>
  <article class="name">
    <div class="picture">
      <img src="./assets/images/prueba_foto.jpg" alt="foto" class="foto" />
    </div>
    <div class="description">
      <h4>Marisol Peña</h4>
      <p>
        ¡Hola! Soy Marisol, Content Specialist y UX Writer por alma y destino.
        Hoy, busco un nuevo horizonte en mi camino, ¡eso sí! sin alejarme mucho
        del mundo de la comunicación. Codifico mi mensaje para un nuevo
        receptor: los ordenadores son ahora mi mejor amigo. Siempre por bandera:
        “claro, breve y conciso, dos veces bueno”.
      </p>
      <div class="icons">
        <ul class="list-icons">
          <li>
            <a href="https://twitter.com/PgMarisol" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/marisol-pena-gomez/"
              target="_blank"
            >
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/masopego" target="_blank">
              <i class="fab fa-github-alt"></i>
            </a>
          </li>
          <li>
            <a href="mailto:masopego@gmail.com" target="_blank">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </article>
  <article class="name-left">
    <div class="picture">
      <img src="./assets/images/marta.jpg" alt="foto" class="foto" />
    </div>
    <div class="description">
      <h4>Marta García</h4>
      <p>
        Soy una madrileña a la que le encanta habitar por todo lo audiovisual.
        Empece por la fotografía , pasando por cine , postproducción de video y
        recientemente vivo en el mundo del diseño y programación de productos
        digitales. Me alimento de chocolate negro y brócoli.
      </p>
      <div class="icons">
        <ul class="list-icons">
          <li>
            <a href="https://twitter.com/_MartaVara_" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/marta-garc%C3%ADa-abad-6b28b2154/"
              target="_blank"
            >
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/MartaVara-WD" target="_blank">
              <i class="fab fa-github-alt"></i>
            </a>
          </li>
          <li>
            <a href="mailto:hola@martavara.es" target="_blank">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </article>
  <article class="name">
    <div class="picture">
      <img src="./assets/images/prueba_foto.jpg" alt="foto" class="foto" />
    </div>
    <div class="description">
      <h4>Miriam Grossi</h4>
      <p>
        Hola, soy Miriam, apasionada de los viajes, la fotografía y los idiomas.
        Tengo un pasado oculto como profe en la universidad y uno más reciente,
        y menos oculto, en el mundo de la traducción y el análisis de
        contenidos. Hace poco menos de un año se me cruzaron los cables y
        después de acercarme al mundo del diseño web escogí empezar una segunda
        vida como programadora. Con mucho orgullo, ahora puedo decir que estoy
        en ello, aprendiendo, cada día más encantada y segura de que eso es lo
        que quiero para mí.
      </p>
      <div class="icons">
        <ul class="list-icons">
          <li>
            <a href="https://twitter.com/MiriamGrossi1  " target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/miriamgrossi/" target="_blank">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/miriamela" target="_blank">
              <i class="fab fa-github-alt"></i>
            </a>
          </li>
          <li>
            <a href="mailto:grossi.miriam@gmail.com" target="_blank">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </article>
</section>
