<footer class="footer">
  <div class="wrapper">
    <div class="copyright">
      <h5>Kappa &copy; 2020</h5>
    </div>
    <a href="https://adalab.es/" class="logo-item">
      <img src="./assets/images/logo-adalab.png" alt="Adalab" />
    </a>
    <nav class="menu-footer">
      <ul>
        <li><a href="./index.html#team">EQUIPO</a></li>
        <li><a href="./index.html#who-are">QUIÉNES SOMOS</a></li>
        <li><a href="./contact.html">CONTACTO</a></li>
      </ul>
    </nav>
  </div>
  <div class="pop--up">
    <div class="wrapper">
      <p>
        ¡Hola! El equipo Kappa <span class="uppercase">no</span> utiliza 🍪🍪
        para mejorar sus servicios, porque somos más de un buen
        <span class="uppercase">brownie</span>. Si en unos segundos sigues
        conociéndonos, entenderemos que aceptas este uso.
        <span class="line-break">¡Gracias por tu comprensión! 😃😃 </span>
      </p>
    </div>
  </div>
</footer>
