<article class="main-contact">
  <div class="wrapper-contact">
    <h2 class="contact">CONTACTO</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
      dolorum placeat temporibus atque nobis unde illum illo obcaecati provident
      reprehenderit officia ut, ex id distinctio molestias iusto totam cum
      aliquam.
    </p>
    <p class="small">
      Todos los campos marcados con <span class="asterisk">*</span> son
      obligatorios.
    </p>
  </div>
</article>
<form action="https://formspree.io/xnqgdedq" method="POST">
  <div>
    <label
      >Nombre completo <span class="asterisk">*</span>
      <input type="text" placeholder="Nombre..." id="name" name="name" />
    </label>
  </div>
  <div>
    <label
      >Email <span class="asterisk">*</span>
      <input
        type="email"
        placeholder="Email"
        value="nombre.apellidos@mail.com"
        id="email"
        name="email"
      />
    </label>
  </div>
  <div>
    <label
      >Teléfono
      <input type="tel" placeholder="Ej: 123456789" id="phone" name="phone" />
    </label>
  </div>
  <div>
    <label for="comments">Mensaje <span class="asterisk">*</span></label>
    <textarea
      class="block"
      id="comments"
      name="comments"
      rows="8"
      cols="80"
    ></textarea>
  </div>
  <div><input class="send" type="submit" value="ENVIAR" /></div>
</form>
