<article class="main-contact">
  <div class="wrapper">
    <h2 class="contact">CONTACTO</h2>
    <p>
      ¿Quieres conocer más sobre nosotras? Rellena el siguiente formulario y el equipo Kappa se pondrá en contacto contigo lo antes posible. 
    </p>
    <p class="small">
      Todos los campos marcados con <span class="asterisk">*</span> son
      obligatorios.
    </p>
  </div>
</article>
<form class="wrapper form" action="https://formspree.io/xnqgdedq" method="POST">
  <div>
    <label>
      Nombre completo <span class="asterisk">*</span>
      <input type="text" placeholder="Nombre..." id="name" name="name" required />
    </label>
  </div>

  <div class="flex">
    <label>
      Email <span class="asterisk">*</span>
      <input
        class="inline item1"
        class="email"
        type="email"
        placeholder="Email"
        value="nombre.apellidos@mail.com"
        id="email"
        name="email"
        required
      />
    </label>

    <label>
      Teléfono
      <input
        class="inline item2"
        type="tel"
        placeholder="Ej: 123456789"
        id="phone"
        name="phone"
      />
    </label>
  </div>
  <label for="comments">Mensaje <span class="asterisk">*</span></label>
  <textarea
    id="comments" 
    name="comments" 
    rows="8" 
    cols="80" 
    placeholder="¿Qué necesitas?"
    required
  ></textarea>
  <div>
    <input class="send" type="submit" value="ENVIAR" />
  </div>
</form>
