<header class="header-tablet">
  <div class="header-container">
    <div class="mainheader">
      <div class="wrapper">
        <!-- hay que poner el wrapper dentro del cuadrado del main header (que lleva el color de fondo) para que no haya margen. Probar poniendo el wrapper antes de mainheader para comparar -->
        <a class="header-logo" href="#" title="Ir a la home">
          <img src="./assets/images/Kappa.png" alt="Kappa Logo" />
        </a>
      </div>
    </div>
    <nav class="menu1">
      <div class="wrapper">
        <ul class="menu2">
          <li><a href="#team">EQUIPO</a></li>
          <li><a href="#who-are">QUIÉNES SOMOS</a></li>
          <li><a href="#">CONTACTO</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
