<article class="main-article" id="team">
  <div class="wrapper vertical-padding-s">
    <div class="animation">
      <h2 class="main">EQUIPO</h2>
      <p>
        Mitad humanas y mitad anfibias, comedoras de pepinos y habitadoras de lagunas profundas. Dejamos nuestra lúgubre y dulce morada para darle al código e introducirnos en la oscuridad de Git.
      </p>
      <p>
        Nos enfrentamos en cada combate con café y una terminal bajo el brazo. Git
        clone, Git pull y Git push siempre son nuestros mejores amigos.
      </p>
    </div>
  </div>
</article>

<div class="square"></div>

<section class="secondary">
  <div class="wrapper vertical-padding-l">
    <article class="secondary-article">
      <h3>Fortalezas</h3>
      <p>
        Somos perseverantes y nos gusta demasiado el café y la manzanilla (que
        hay alguna que otra andaluza en el grupo). La casualidad nos convirtió
        en grupo y nosotras le dimos al destino nuestro compromiso, trabajo y
        compañerismo.
      </p>
    </article>

    <article class="secondary-article">
      <h3>Debilidades</h3>
      <p>
        Contamos con poca experiencia en Git, nos pegamos con Gulp y Sass, y
        salimos heridas de los merge. Pero siempre con una sonrisa y con las
        ganas de no perecer en el intento.
      </p>
    </article>
  </div>
</section>
