$name-width: 100%;

.title-tab {
  text-align: center;
  color: $primary-color;
  font-family: $secondary-font;
  font-size: $xxlarge;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 500;
  width: 100%;
}

.name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: $name-width;

  /* border: 1px solid red; */
}
.name-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: $name-width;

  /* border: 1px solid red; */
}
.picture {
  width: 180px;
  margin-bottom: 15px;
}
.foto {
  width: 100%;
  border: $neutral-color2 solid 4px;
  border-radius: 8px;
}

.description {
  display: inline;
  align-content: center;
  width: 90%;
}
.description h4 {
  height: 45px;
  text-align: center;
  color: $dark-color;
  font-family: $primary-font;
  font-size: $large;
  font-weight: 300;
  line-height: 45px;
  margin: auto;
  /* background: pink; */
}
.description p {
  text-align: center;
  /* background-color: cyan; */

  color: $neutral-color;
  font-family: $primary-font;
  font-size: $small;
  font-weight: 300;
  line-height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.icons {
  margin-bottom: 45px;
  /* background-color: darkorange; */
}
i {
  color: $primary-color;
}
.list-icons {
  display: block;

  height: 30px;
  width: 126px;
  padding-top: 15px;
  margin: auto;
}
.list-icons li:nth-child(1):after {
  content: "·";
  color: $primary-color;
}
.list-icons li:nth-child(2):after {
  content: "·";
  color: $primary-color;
}
.list-icons li:nth-child(3):after {
  content: "·";
  color: $primary-color;
}

li {
  display: inline-block;
  padding: 3px;
}

// MEDIAQUERIES

@media all and (min-width: 768px) {
  .title-tab {
    padding-bottom: 40px;
    /* background-color: blueviolet; */
  }
  .name {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 1px solid red; */
    /* background-color: rgba(152, 228, 152, 0.5); */
  }
  .name-left {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    /* border: 1px solid red; */
  }

  .picture {
    width: 30%;
    display: inline;
    text-align: right;
    /* background-color: rgba(104, 72, 220, 0.5); */
  }
  .foto {
    width: 100%;
  }

  .description {
    /* background-color: rgba(210, 187, 187, 0.5); */
    width: 70%;
    text-align: left;
    /* sabado */
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 10px;
  }
  .name-left .description {
    /* background-color: rgba(210, 187, 187, 0.5); */
    width: 70%;
    text-align: right;
    /* sabado */
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
  }
  .description h4 {
    text-align: left;

    margin: 0px;
  }
  .name-left .description h4 {
    text-align: right;

    margin: 0px;
  }
  .description p {
    margin-top: 5px;
    text-align: left;

    padding-left: 0px;
    padding-right: 0px;
  }
  .name-left .description p {
    margin-top: 5px;
    text-align: right;

    padding-left: 0px;
    padding-right: 0px;
  }

  .list-icons {
    display: inline-block;
  }
}

@media all and (min-width: 1200px) {
  /* Mediaqueries desktop Miriam y Marta*/
  .description {
    /* background-color: rgba(210, 187, 187, 0.5); */
    width: 70%;
    text-align: left;
    /* sabado */
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 180px;
  }
  .name-left .description {
    /* background-color: rgba(210, 187, 187, 0.5); */
    width: 70%;
    text-align: right;
    /* sabado */
    padding-top: 5px;
    padding-left: 180px;
    padding-right: 20px;
  }
}
