.footer {
  background-color: $light-color;
  border-top: 1px solid $neutral-color;
  width: 100%;
  height: 250px;

  & .wrapper {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  /* Imagen Adalab */
  & .logo-item {
    order: 1;
    width: 115.99px;
    height: 45px;
    margin-top: 30px;
    margin-bottom: 45px;
    padding: 0px;

    & img {
      width: 100%;
      height: 100%;
    }
  }
  /* Copyright equipo*/

  & .copyright {
    margin-top: 30px;
    margin-bottom: 20px;

    & h5 {
      padding: 0px;
      margin: 0px;
      font-size: $xxsmall;
      font-family: $primary-font;
      color: $neutral-color2;
    }
  }
  /* Menú de Navegación */

  & .menu-footer {
    color: $neutral-color;
    font-family: $primary-font;
    font-size: $xxsmall;
    font-weight: 600;
    margin: 0px;

    & ul {
      text-align: center;
      padding: 0;
      line-height: 20px;
      margin: 0;

      & li {
        display: block;
      }
    }
  }

  @media all and (min-width: 768px) {
    height: 170px;

    & .wrapper {
      padding-left: 45px;
      padding-right: 45px;
      padding-top: 0;
      position: relative;
      justify-content: flex-start;
      align-items: flex-start;
    }

    /* Imagen Adalab */

    & .logo-item {
      margin-top: 15px;
      margin-bottom: 60px;
      padding: 0px;
      margin-left: -10px;
    }

    /* Copyright equipo*/

    & .copyright {
      margin-bottom: 0px;
    }

    /* Menú de Navegación */
    & .menu-footer {
      position: absolute;
      right: 45px;
      top: 25px;

      & ul {
        text-align: right;
        padding: 0;
        line-height: 30px;
        margin: 0;
      }
    }
  }
}
