.header-tablet {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 60px;

  @media all and (min-width: 768px) {
    background-color: rgba(9, 157, 141, 0.95);
  }

  & .header-container {
    max-width: 1200px;

    @media all and (min-width: 768px) {
      margin: auto;
      padding: 0px 45px;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
    }

    @media all and (min-width: 1200px) {
      padding: 0px 138px;
    }

    & .mainheader {
      background-color: rgba(9, 157, 141, 0.95);
      height: 60px;

      @media all and (min-width: 768px) {
        background-color: rgba(9, 157, 141, 0);
        width: 20%;
      }
    }
    & .mainheader .wrapper {
      padding: 0px;
      margin: 0px;
      display: flex;
      justify-content: center; /*para que el logo esté centrado*/

      @media all and (min-width: 768px) {
        justify-content: left;
        padding: 0px;
        width: 100%;
      }
    }
  }
}

.header-logo {
  display: inline-block;
  margin: 0px;
  width: 30%;
  animation: zoomIn;
  animation-duration: 1s;
  animation-iteration-count: 1;

  @media all and (min-width: 768px) {
    height: 70%;
    width: 70%;
    background-color: transparent;
  }
}

/*NO LO PUEDO METER EN EL NESTING*/

.header-logo img {
  height: 60px;
  width: 100%;
  object-fit: contain;
}

.menu1 {
  height: 45px;
  background-color: rgba(20, 217, 196, 0.9);

  @media all and (min-width: 768px) {
    height: 60px;
    background-color: transparent;
  }

  & .wrapper {
    padding: 12px;
  }

  & .menu2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: $xsmall;
    font-family: $secondary-font;
    font-weight: 500;

    @media all and (min-width: 768px) {
      margin-top: 12px;
    }
  }
}

.menu2 li a {
  display: inline-block;
  color: white; /*NO FUNCIONA LA VARIABLE*/
  letter-spacing: 0;
  animation: zoomIn;
  animation-duration: 3.5s;
  animation-iteration-count: 1;

  &:hover {
    letter-spacing: 3px;
    font-weight: 400;
  }

  &:after,
  &:before {
    backface-visibility: hidden;
    border: 1px solid rgba($light-color, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 1s ease-in-out;
    width: 0;
  }

  &:hover:after,
  &:hover:before {
    backface-visibility: hidden;
    border-color: $light-color;
    transition: width 0.5s ease-in-out;
    width: 70%;
  }

  &:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
  }
}
//MEDIAQUERIES

@media all and (min-width: 768px) {
  .menu1 .wrapper {
    padding: 0px;
    min-width: 100px;
  }

  .menu2 li {
    padding: 10px;
    font-size: $small;
  }
}
