.hero {
  background-image: url(../images/fotoco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 550px;
  margin-bottom: 0px;

  & .wrapper {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media all and (min-width: 768px) {
      padding-bottom: 0;
    }
  
    & .quote {
      transform: translate(0, 50%);
      background-color: $light-color;
      padding: 15px;
      font-family: $primary-font;
      font-size: $medium;
      font-weight: 600;
      width: 290px;
      margin: 0 auto;

      animation-name: fadein;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      
      @keyframes fadein {
        from {
          transform: translateX(-60%);
        }
        to {
          transform: translateX(0);
        }
      }

      @media all and (min-width: 768px) {
        transform: translate(0, 0);
        background-color: rgba(255, 255, 255, 0.7);
        padding: 15px 30px;
        margin: 0;
        width: 441px;
      }
      @media all and (min-width: 1200px) {
        font-size: $xxlarge;
      }
      & span{
        display: block;
        line-height: 1.5;

        &.quote_answer {
          animation-name: answer;
          animation-duration: 3s;
          animation-fill-mode: forwards;
          animation-iteration-count: 1;
          animation-timing-function: linear;
  
          @keyframes answer {
            0% {
              color: transparent;
            }
            50% {
              color: transparent;
            }
            100% {
              color: $dark-color;
            }
          }
        }
      }
    }
  }
}
