body {
  background-color: $light-color;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 15px;
  margin: auto;
}

@media all and (min-width: 768px) {
  .wrapper {
    padding: 0 45px;
  }
}

@media all and (min-width: 1200px) {
  .wrapper {
    padding-left: 138px;
    padding-right: 138px;
    margin: auto;
  }
}
