<<<<<<< HEAD
@import "core/reset";
@import "core/variables";
@import "core/mixins";
@import "layout/page";
@import "layout/header";
@import "layout/hero";
@import "layout/team";
@import "layout/card";
@import "layout/footer";
=======
@import 'core/reset';
@import 'core/variables'; 
@import 'layout/page';
@import 'layout/header';
@import 'layout/hero';  
@import 'layout/team';  
@import 'layout/card';  
@import 'layout/footer';  
>>>>>>> team
