* {
  box-sizing: border-box;
  color: inherit;
  list-style-type: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

:root {
  /*color*/

  --primary-color: 9, 157, 141;
  --primary-color2: 20, 217, 196;
  --light-color: 255, 255, 255;
  --dark-color: 0, 0, 0;
  --neutral-color: 84, 88, 90;
  --neutral-color2: 184, 184, 185;

  /*font*/
  --primary-font: "Open Sans", Arial, Helvetica, sans-serif;
  --secondary-font: "Rubik", Arial, Helvetica, sans-serif;

  /*font size*/
  --xxsmall: 14px;
  --xsmall: 15px;
  --small: 16px;
  --medium: 18px;
  --large: 20px;
  --xlarge: 22px;
  --xxlarge: 24px;
}

body {
  background-color: rgb(var(--light-color));
  /*añadir! Para facilitarle la vida al diseñador si decide cambiar el color en un futuro, por el div de 30px x 30px*/
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 15px;
  margin: auto;
}

/*LAURA*/

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 60px;
}

.mainheader {
  background-color: rgba(var(--primary-color), 0.95);
  height: 60px;
}

.mainheader .wrapper {
  padding: 0px;
  margin: 0px;
}
.header-logo h1 {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.header-logo {
  display: inline-block;
  margin: 0px;
  width: 30%;
}

.header-logo img {
  height: 60px;
  width: 100%;
  object-fit: contain;
}

.mainheader .wrapper {
  display: flex;
  justify-content: center; /*para que el logo esté centrado*/
}

.menu1 {
  height: 45px;
  background-color: rgba(var(--primary-color2), 0.9);
}

.menu2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  font-size: var(--xsmall);
  font-family: var(--secondary-font);
  font-weight: 500;
}

.menu2 li a {
  display: inline-block;
  color: white; /*NO FUNCIONA*/
}

.hero img {
  width: 100%;
}

.quote {
  transform: translate(0, -50%);
  background-color: rgb(var(--light-color));
  text-align: center;
  padding: 15px;
  font-family: var(--primary-font);
  font-size: var(--medium);
  font-weight: 600;
  width: 290px;
  margin: auto;
}

/*Junyi*/

/*Equipo (Junyi)*/
.main-article {
  text-align: center;
}

h2.main {
  color: rgb(var(--primary-color2));
  font-family: var(--secondary-font);
  font-size: var(--xxlarge);
  line-height: 45px;
  margin-top: 0;
  margin-bottom: 0;
}

article p {
  color: rgb(var(--neutral-color));
  font-family: var(--primary-font);
  font-size: var(--small);
  line-height: 24px;
}

/* Rombo (Junyi) */

.square {
  width: 30px;
  height: 30px;
  background-color: rgb(var(--light-color));
  margin: auto;
  transform: translate(0, 15px) rotate(45deg);
}

/* Fortalezas y debilidades (Junyi) */

.secondary {
  background-color: rgba(var(--neutral-color2), 0.2);
  text-align: center;
}

h3 {
  color: rgb(var(--primary-color));
  font-family: var(--secondary-font);
  font-size: var(--xlarge);
  line-height: 45px;
  margin-top: 0;
  margin-bottom: 0;
}

/* Miriam - Marta */

.title-tab {
  text-align: center;
  color: rgb(var(--primary-color));
  font-family: var(--secondary-font);
  font-size: var(--xxlarge);
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 500;
  width: 100%;
}
.name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  /* border: 1px solid red; */
}
.name-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  /* border: 1px solid red; */
}
.picture {
  width: 180px;
  margin-bottom: 15px;
}
.foto {
  width: 100%;
  border: rgb(var(--neutral-color2)) solid 4px;
  border-radius: 8px;
}

.description {
  display: inline;
  align-content: center;
  width: 90%;
}
.description h4 {
  height: 45px;
  text-align: center;
  color: rgb(var(--dark-color));
  font-family: var(--primary-font);
  font-size: var(--large);
  font-weight: 300;
  line-height: 45px;
  margin: auto;
  /* background: pink; */
}
.description p {
  text-align: center;
  /* background-color: cyan; */

  color: rgb(var(--neutral-color));
  font-family: var(--primary-font);
  font-size: var(--small);
  font-weight: 300;
  line-height: 24px;
  /* sabado*/
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.icons {
  margin-bottom: 45px;
  /* background-color: darkorange; */
}
i {
  color: rgb(var(--primary-color));
}
.list-icons {
  display: block;

  height: 30px;
  width: 124px;
  padding-top: 15px;
  margin: auto;
}
.list-icons li:nth-child(1):after {
  content: "·";
  color: rgb(var(--primary-color));
}
.list-icons li:nth-child(2):after {
  content: "·";
  color: rgb(var(--primary-color));
}
.list-icons li:nth-child(3):after {
  content: "·";
  color: rgb(var(--primary-color));
}

li {
  display: inline-block;
  padding: 3px;
}

.footer .wrapper {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: rgb(var(--light-color));
  border-top: 1px solid rgb(var(--neutral-color));
  width: 100%;
  height: 250px;
}

.footer .logo-item {
  order: 1;
}

/* Imagen Adalab */
.footer .logo-item {
  width: 115.99px;
  height: 45px;
  margin-top: 30px;
  margin-bottom: 45px;
  padding: 0px;
}

.footer .logo-item img {
  width: 100%;
  height: 100%;
}

/* Copyright equipo*/

.footer .copyright {
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer .copyright h5 {
  padding: 0px;
  margin: 0px;
  font-size: var(--xxsmall);
  font-family: var(--primary-font);
  color: rgb(var(--neutral-color2));
}

/* Menú de Navegación */

.footer .menu-footer {
  color: rgb(var(--neutral-color));
  font-family: var(--primary-font);
  font-size: var(--xxsmall);
  font-weight: 600;
  margin: 0px;
}

.footer .menu-footer ul {
  text-align: center;
  padding: 0;
  line-height: 20px;
  margin: 0;
}

.footer .menu-footer ul li {
  display: block;
}

/* RESPONSIVE ----------------------------------------
------------
------------
------------
*/
@media all and (min-width: 768px) {
  .wrapper {
    padding: 45px;
  }

  .header-tablet {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(var(--primary-color));
  }

  .mainheader {
    width: 20%;
  }

  .menu1 .wrapper {
    padding: 0px;
    min-width: 100px;
  }

  .mainheader .wrapper {
    justify-content: left;
    padding: 0px;
    width: 100%;
  }

  .header-logo {
    height: 70%;
    width: 70%;
    background-color: transparent;
  }

  .menu1 {
    height: 45px;
    background-color: transparent;
  }
  .menu2 {
    margin-top: 10px;
  }
  .menu2 li {
    padding: 10px;
    font-size: var(--small);
  }

  .quote {
    background-color: rgba(var(--light-color), 0.7);
    text-align: center;
<<<<<<< HEAD
=======
    padding: 15px;
    position: relative;
    bottom: 70;
    width: 441px;
  }

  .quote {
    background-color: rgba(var(--light-color), 0.7);
    text-align: center;
>>>>>>> d954c8b474a79e56585ca8ec45caaf14030df57c
    padding: 15px 45px;
    position: absolute;
    bottom: -55;
    width: 441px;
  }

  /* Mediaqueries tablet Junyi*/

  h2.main {
    color: rgb(var(--primary-color));
  }

  .secondary .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .secondary-article {
    display: inline;
    width: 50%;
  }

  .secondary-article:first-child {
    width: 50%;
    padding-right: 15px;
  }

  .secondary-article:last-child {
    width: 50%;
    padding-left: 15px;
  }

  /* Mediaqueries tablet Miriam y Marta*/
  .title-tab {
    padding-bottom: 40px;
    /* background-color: blueviolet; */
  }
  .name {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 1px solid red; */
    /* background-color: rgba(152, 228, 152, 0.5); */
  }
  .name-left {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    /* border: 1px solid red; */
  }

  .picture {
    width: 30%;
    display: inline;
    text-align: right;
    /* background-color: rgba(104, 72, 220, 0.5); */
  }
  .foto {
    width: 100%;
  }

  .description {
    /* background-color: rgba(210, 187, 187, 0.5); */
    width: 70%;
    text-align: left;
    /* sabado */
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 10px;
  }
  .name-left .description {
    /* background-color: rgba(210, 187, 187, 0.5); */
    width: 70%;
    text-align: right;
    /* sabado */
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
  }
  .description h4 {
    text-align: left;

    margin: 0px;
  }
  .name-left .description h4 {
    text-align: right;

    margin: 0px;
  }
  .description p {
    margin-top: 5px;
    text-align: left;

    padding-left: 0px;
    padding-right: 0px;
  }
  .name-left .description p {
    margin-top: 5px;
    text-align: right;

    padding-left: 0px;
    padding-right: 0px;
  }

  .list-icons {
    display: inline-block;
  }

  .footer {
    height: 170px;
  }

  .footer .wrapper {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 0;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
  }

  /* Imagen Adalab */

  .footer .logo-item {
    margin-top: 15px;
    margin-bottom: 60px;
    padding: 0px;
    margin-left: -10px;
  }

  /* Copyright equipo*/

  .footer .copyright {
    margin-bottom: 0px;
  }

  /* Menú de Navegación */
  footer .menu-footer {
    position: absolute;
    right: 45px;
    top: 25px;
  }

  .footer .menu-footer ul {
    text-align: right;
    padding: 0;
    line-height: 30px;
    margin: 0;
  }

  /* .header-menu {
    display: block;
  }

  .header-mobile-button {
    display: none;
  }

  .hero .wrapper {
    background: url("../images/premium_dancer.png") no-repeat;
    background-position: right top;
  } */
}

@media all and (min-width: 1200px) {
  .wrapper {
    padding: 138px;
    margin: auto;
  }
  /* Mediaqueries desktop Junyi*/

  h2.main {
    /*poner en común con Marta y Miriam, asegurarnos de que la clase es distinta de la del h2 de Laura*/
    color: rgb(var(--primary-color));
  }

  .secondary .wrapper {
    display: flex;
  }

  .secondary-article {
    width: 50%;
  }

  .secondary-article:first-child {
    width: 50%;
    padding-right: 22.5px;
  }

  .secondary-article:last-child {
    width: 50%;
    padding-left: 22.5px;
  }
<<<<<<< HEAD

  /* Mediaqueries desktop Miriam y Marta*/
  .description {
    /* background-color: rgba(210, 187, 187, 0.5); */
    width: 70%;
    text-align: left;
    /* sabado */
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 180px;
  }
  .name-left .description {
    /* background-color: rgba(210, 187, 187, 0.5); */
    width: 70%;
    text-align: right;
    /* sabado */
    padding-top: 5px;
    padding-left: 180px;
    padding-right: 20px;
  }
=======
>>>>>>> d954c8b474a79e56585ca8ec45caaf14030df57c
}
/* Mediaqueries desktop Miriam y Marta*/
