* {
  box-sizing: border-box;
  color: inherit;
  list-style-type: none;
  text-decoration: none;
}

:root {
  /*color*/

  --primary-color: 9, 157, 141;
  --primary-color2: 20, 217, 196;
  --light-color: 255, 255, 255;
  --dark-color: 0, 0, 0;
  --neutral-color: 84, 88, 90;
  --neutral-color2: 184, 184, 185;

  /* --primary-color: #099d8d;
  --primary-color2: #14d9c4;
  --light-color: #ffffff;
  --dark-color: #000000;
  --neutral-color: #54585a;
  --neutral-color2: #b8b8b9; */

  /* font */
  --primary-font: "Open Sans", Arial, Helvetica, sans-serif;
  --secondary-font: "Rubik", Arial, Helvetica, sans-serif;
  /* font size */
  --xxsmall: 14px;
  --xsmall: 15px;
  --small: 16px;
  --medium: 18px;
  --large: 20px;
  --xlarge: 22px;
  --xxlarge: 24px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  border: 2px solid blue;
  padding: 15px;
}

.title-tab {
  /* background-color: darkkhaki; */
  text-align: center;
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  color: rgb(var(--primary-color));
  font-family: var(--secondary-font);
  font-size: var(--xxlarge);
  /* sabado */
  font-weight: 500;

  /* border: 1px solid red; */

  width: 100%;
}
.name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  /* border: 1px solid red; */
}
.name-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  /* border: 1px solid red; */
}
.picture {
  width: 180px;
  margin-bottom: 15px;
}
.foto {
  width: 100%;
  border: rgb(var(--neutral-color2)) solid 4px;
  border-radius: 8px;
}

.description {
  display: inline;
  align-content: center;
  width: 90%;
}
.description h4 {
  height: 45px;
  text-align: center;
  color: rgb(var(--dark-color));
  font-family: var(--primary-font);
  font-size: var(--large);
  font-weight: 300;
  line-height: 45px;
  margin: auto;
  /* background: pink; */
}
.description p {
  text-align: center;
  /* background-color: cyan; */

  color: rgb(var(--neutral-color));
  font-family: var(--primary-font);
  font-size: var(--small);
  font-weight: 300;
  line-height: 24px;
  /* sabado*/
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.icons {
  margin-bottom: 45px;
  /* background-color: darkorange; */
}
i {
  color: rgb(var(--primary-color));
}
.list-icons {
  display: block;

  height: 30px;
  width: 124px;

  padding: 0px;
  margin: auto;
}
.list-icons li:nth-child(1):after {
  content: "·";
  color: rgb(var(--primary-color));
}
.list-icons li:nth-child(2):after {
  content: "·";
  color: rgb(var(--primary-color));
}
.list-icons li:nth-child(3):after {
  content: "·";
  color: rgb(var(--primary-color));
}

li {
  display: inline-block;
  padding: 3px;
}

/* RESPONSIVE ----------------------------------------
------------
------------
------------
*/
@media all and (min-width: 768px) {
  .wrapper {
    padding: 45px;
  }

  .title-tab {
    padding-bottom: 40px;
    /* background-color: blueviolet; */
  }
  .name {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 1px solid red; */
    /* background-color: rgba(152, 228, 152, 0.5); */
  }
  .name-left {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    /* border: 1px solid red; */
  }

  .picture {
    width: 30%;
    display: inline;
    text-align: right;
    /* background-color: rgba(104, 72, 220, 0.5); */
  }
  .foto {
    width: 100%;
  }

  .description {
    /* background-color: rgba(210, 187, 187, 0.5); */
    width: 70%;
    text-align: left;
    /* sabado */
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 10px;
  }
  .name-left .description {
    /* background-color: rgba(210, 187, 187, 0.5); */
    width: 70%;
    text-align: right;
    /* sabado */
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
  }
  .description h4 {
    text-align: left;

    margin: 0px;
  }
  .name-left .description h4 {
    text-align: right;

    margin: 0px;
  }
  .description p {
    margin-top: 5px;
    text-align: left;

    padding-left: 0px;
    padding-right: 0px;
  }
  .name-left .description p {
    margin-top: 5px;
    text-align: right;

    padding-left: 0px;
    padding-right: 0px;
  }
  .list-icons {
    display: inline;

    padding: 0px;
    margin: auto;
  }

  /* .header-menu {
    display: block;
  }

  .header-mobile-button {
    display: none;
  }

  .hero .wrapper {
    background: url("../images/premium_dancer.png") no-repeat;
    background-position: right top;
  } */
}

@media all and (min-width: 1200px) {
  .title-tab {
    background-color: green;
  }
}
